/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');

/* VARIABLES */
$azul: #131928;
$rojo: #e30613;
$crema: #F5F5DC;
$sombra: rgb(136, 136, 136);
$letter: "Raleway", sans-serif;

/* ESTILOS GENERALES */
.body {
  margin: 0;
  padding: 0;
  background-color: $crema;
}

html {
  scroll-behavior: smooth;
}

/* MOBILE */
@media screen and (min-width: 240px) {

  /* BODY */
  .body {
    display: grid;
    grid-template-columns: 1fr;
    font-family: $letter;
  }

  /* HERO */
  .hero,
  .tablet-nav {
    display: none;
  }

  /* HEADER */
  .header {
    grid-column: 1/2;
    background-color: $azul;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $rojo;

    &-title {
      font-size: 20px;
      color: $crema;
      margin-left: 20px;
    }
  }

  .mobile-menu {
    position: relative;
    width: 40px;
    height: 30px;
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
    padding: 0;
  }

  .line {
    position: absolute;
    height: 3px;
    background: $crema;
    transition: transform 0.5s;
  }

  .small-line {
    width: 20px;
  }

  .top-line {
    top: 0;
    left: 0;
    transform-origin: top left;

    &.open {
      transform: translateX(7px) rotate(45deg);
    }
  }

  .mid-line {
    top: 50%;
    left: 0;
    width: 40px;
    transform: translateY(-50%);

    &.open {
      transform: translateY(-50%) rotate(-45deg)
    }
  }

  .bottom-line {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;

    &.open {
      transform: translateX(-7px) rotate(45deg);
    }
  }

  /* MOBILE MENU OPTIONS */
  .mobile-options {
    position: fixed;
    min-height: 400px;
    width: 100%;
    right: -600px;
    transition-property: all;
    transition-duration: .37s;
    top: 103px;
    background: rgba(19, 25, 40, 0.99);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
    
    & ul {
      padding: 0;
      
      & li {
        list-style: none;
        margin: 20px 0;
        
        & a {
          text-decoration: none;
          color: $crema;
          font-size: 20px;
        }
      }
    }
    
    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(227, 6, 19, 0.99);
      width: 100%;
      height: 70px;
    }
    
    &__social {
      font-size: 20px;
      text-decoration: none;
      color: $crema;
      margin: 5px 10px;
    }
  }
  
  .mobile-options.open {
    right: 0;
    display: flex;
    position: absolute;
  }

  /* MAIN */
  .main {
    grid-column: 1/2;
  }

  .about-me {
    &__title {
      font-size: 20px;
      color: $rojo;
      margin: 20px 20px;
    }

    &__description {
      font-size: 15px;
      margin: 0 20px;
      text-align: justify;
      color: $azul;
    }

    &__pdf {
      color: $rojo;
      text-decoration: none;
    }

    &__img {
      height: 15px;
      width: 15px;
      fill: $rojo;
    }
  }

  /* NAV */
  .nav {
    display: none;
  }

  /* MOBILE SKILLS */
  .mobile-skill {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;

    &__title {
      font-size: 20px;
      color: $rojo;
      margin: 20px 0;
    }
  }

  .skill {
    border-bottom: 1px solid $azul;
    
    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title p {
      margin: 15px 0;
      color: $azul;
      font-size: 15px;
    }

    &-title svg {
      height: 15px;
      width: 15px;
      fill: $rojo;
      transition: transform .5s ease-in;
    }

    &-description p {
      text-align: justify;
      color: $azul;
    }

    &-description {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1.5s ease;
    }

    &.active &-description {
      max-height: 300px;
    }

    &.active &-title svg {
      transform: rotate(180deg);
    }
  }

  /* SKILLS */
  .skills {
    display: none;
  }

  /* FOOTER */
  .footer {
    background-color: $azul;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-title {
      color: $crema;
    }
  }

  .social {
    &-linkedin,
    &-github {
      display: flex;
      align-items: center;

      & svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        fill: $crema;
      }

      &__link {
        text-decoration: none;
        color: $crema;
      }
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-email,
    &-ubication,
    &-phone {
      display: flex;
      align-items: center;

      & svg {
        height: 20px;
        width: 20px;
        margin-right: 10px;
        fill: $crema;
      }

      & img,
      & svg {
        height: 20px;
        width: 20px;
      }

      &__text {
        color: $crema;
      }
    }
  }

  .projects {
    display: none;
  }

  .contact {
    &-title {
      font-size: 20px;
      color: $rojo;
      margin: 30px 20px 20px 20px;
    }

    &-button {
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__send {
        height: 25px;
        width: 90px;
        background-color: $rojo;
        border: 0;
        color: $crema;
      }

      &__reset {
        height: 25px;
        width: 90px;
        background-color: $azul;
        border: 0;
        color: $crema;
      }
    }
  }

  .contact-form {
    margin: 0 20px;
    display: flex;
    flex-direction: column;

    &__label {
      margin: 10px 0;
      color: $azul;
    }

    &__input {
      height: 20px;
    }
  }

  textarea {
    resize: none;
  }
}

/* TABLET */
@media screen and (min-width: 600px) {
  .mobile-menu,
  .mobile-options,
  .nav,
  .nav-menu {
    display: none;
  }

  /* HEADER */
  .header {
    height: 120px;

    &-title {
      font-size: 25px;
    }
  }

  /* TABLET NAV */
  .tablet {

    &-nav {
      margin-right: 10px;
      display: inline-block;
    }

    &-menu {
      display: flex;
      list-style: none;

      &__link {
        text-decoration: none;
        font-family: $letter;
        font-size: 22px;
        margin: 0 10px;
        transition: color, text-shadow;
        transition-duration: 0.5s;
        color: $crema;
      }

      &__divisor {
        font-family: $letter;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  /* ABOUT SECTION */
  .about-me {
    &__title {
      font-size: 25px;
    }

    &__description {
      font-size: 20px;
    }
  }

  /* SKILLS SECTION */
  .mobile-skill {
    &__title {
      font-size: 25px;
    }
  }

  .skill {
    &-title p,
    &-description p {
      font-size: 20px;
    }
  }

  /* CONTACT */
  .contact {
    &-title {
      font-size: 25px;
    }

    &-form {
      &__label {
        font-size: 20px;
      }

      &__input {
        height: 25px;
      }
    }
  }

  /* FOOTER */
  .footer {
    &-data {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

/* DESKTOP 1024 */
@media screen and (min-width: 1024px) {
  /* BODY */
  .body {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100vh 70px 1fr 500px;
    color: $azul;
  }

  /* HERO */
  .hero {
    height: 100vh;
    background-color: $azul;
    grid-column: 1/10;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;

    &-introduction {
      color: $crema;
      font-family: $letter;
      animation-name: introduction;
      animation-duration: 1s;
      font-size: 40px;
      margin: 0;
      opacity: 0;
      animation: introduction-animation;
      animation-duration: 3s;
    }

    @keyframes introduction-animation {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:before {
      content: "FRONT-END";
      font-size: 10vw;
      position: absolute;
      // font-family: $letter;
      font-family: 'Nunito Sans', sans-serif;
      -webkit-text-stroke: 2px white;
      color: transparent;
      // color: $crema;
      top: 0;
      left: 0;
      animation-name: introduction-before;
      animation-duration: 1s;
    }

    @keyframes introduction-before {
      0% {
        transform: translateX(-1000px);
      }
      100% {
        transform: translateX(0);
      }
    }

    &:after {
      content: "DEVELOPER";
      font-size: 10vw;
      position: absolute;
      // font-family: $letter;
      font-family: 'Nunito Sans', sans-serif;
      -webkit-text-stroke: 2px $rojo;
      color: transparent;
      // color: $rojo;
      bottom: 0;
      right: 5px;
      animation-name: introduction-after;
      animation-duration: 1s;
    }

    @keyframes introduction-after {
      0% {
        transform: translateX(1000px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  /* HEADER */
  .header {
    height: 70px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    box-shadow: 6px 6px 6px $sombra;
    font-family: $letter;
    font-size: 18px;
    grid-column: 1/10;
    grid-row: 2/3;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    border-bottom: 0;

    &-title {
      margin-left: 15px;
      color: $azul;
      font-size: 35px;
    }

    &-line__blue {
      height: 10px;
      width: 200px;
      background-color: $azul;
    }
  }

  .mobile-menu, 
  .mobile-options,
  .tablet-nav {
    display: none;
  }

  /* NAV */
  .nav {
    margin-right: 15px;
    display: inline-block;

    &-menu {
      display: flex;
      list-style: none;

      &__link {
        text-decoration: none;
        font-family: $letter;
        font-size: 25px;
        margin: 0 10px;
        transition: color, text-shadow;
        transition-duration: 0.5s;
        color: $azul;
      }

      &__divisor {
        font-family: $letter;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  .nav-animation {
    color: $rojo;
    text-shadow: 2.3px 2.3px 3px $sombra;
  }

  .main {
    /* GRID DEL BODY */
    grid-column: 1/10;
    grid-row: 3/4;

    /* GRID DEL MAIN */
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
  }

  /* ABOUT ME SECTION*/
  .about-me {
    grid-column: 2/9;
    grid-row: 1/2;
    margin: 50px 0;
    opacity: 0;

    &__animation {
      animation-name: animation-description;
      animation-duration: 1s;
    }

    @keyframes animation-description {
      0% {
        transform: translateX(-300px);
      }

      100% {
        transform: translateX(0);
      }
    }

    &__title {
      font-family: $letter;
      font-size: 45px;
      color: $rojo;
      animation-name: about-me__title;
      animation-duration: 0.5s;
      margin: 0;

      @keyframes about-me__title {
        0% {
          transform: translateX(-300px);
          opacity: 0;
        }
        100% {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    &__description {
      font-size: 20px;
      font-family: $letter;
      text-align: justify;
      margin: 0;
    }
  }

  /* SKILLS SECTION */
  .skills {
    grid-column: 2/9;
    grid-row: 2/3;
    margin-bottom: 50px;
    width: 280px;
    opacity: 0;
    display: flex;

    &-animation {
      animation-name: skills-animation;
      animation-duration: 1s;
    }

    @keyframes skills-animation {
      0% {
        transform: translateY(300px);
      }

      100% {
        transform: translateY(0);
      }
    }

    &-title {
      font-family: $letter;
      font-size: 45px;
      color: $rojo;
    }

    & div {
      display: flex;
      flex-direction: column;
    }

    &-list {
      list-style: none;
      padding: 0;

      &__item {
        font-family: $letter;
        font-size: 20px;
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color: $azul;

        & p {
          margin: 0;
        }

        & svg {
          height: 30px;
          width: 30px;
          margin-right: 10px;
          fill: $azul;
        }
      }
    }

    &-description {
      height: 1fr;
      width: 1fr;
      background-color: red;
    }
  }

  /* MOBILE SKILL */
  .mobile-skill {
    display: none;
  }

  /* PROJECTS SECTION */
  .projects {
    grid-column: 2/9;
    grid-row: 3/4;
    margin-bottom: 25px;
    display: block;
    opacity: 0;
    
    &-show {
      animation-name: show-cards;
      animation-duration: 1s;
    }

    @keyframes show-cards {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &-title {
      font-family: $letter;
      font-size: 45px;
      color: $rojo;
    }

    &-container {
      display: flex;
      justify-content: space-between;
    }


  }

  .project-card {
    height: 400px;
    width: 250px;
    background-color: $azul;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    transition-property: box-shadow;
    transition-duration: 0.5s;
    box-shadow: 5px 5px 6px $sombra;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 1s;

    &:hover {
      box-shadow: 5px 5px 6px $rojo;
    }

    &__title {
      font-size: 25px;
      color: $crema;
      margin-top: 150px;
    }

    & div {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    & div &__page,
    & div &__repository {
      font-family: $letter;
      display: inline-block;
      font-size: 15px;
      height: 35px;
      width: 100px;
      margin: 0 20px;
      background-color: $rojo;
      border: 0;
      color: $crema;
      transition-property: background-color, color, border;
      transition-duration: 0.7s;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $rojo;
        background-color: $crema;
      }
    }
  }

  .todo {
    background: url(../assets/img/todo-app.jpg) 50%;
    background-size: cover;
  }

  /* CONTACT SECTION*/
  .contact {
    grid-column: 2/9;
    grid-row: 4/5;
    margin: 50px 0;

    &-title {
      font-family: $letter;
      font-size: 45px;
      color: $rojo;
    }

    &-form {
      display: flex;
      flex-direction: column;
      width: 600px;

      &__label {
        font-size: 25px;
        font-family: $letter;
        color: $azul;
        margin: 5px 0;
      }

      &__input {
        height: 25px;
        font-size: 20px;
        color: $azul;
      }

      &__message {
        resize: none;
        font-size: 20px;
      }
    }

    &-button {
      display: flex;
      justify-content: space-between;

      &__send,
      &__reset {
        height: 30px;
        width: 150px;
        margin-top: 25px;

        &:hover {
          box-shadow: 2px 2px 2px $sombra;
        }
      }

      &__send {
        background-color: $rojo;
        color: $crema;
        border: 1px solid $rojo;
      }

      &__reset {
        background-color: $azul;
        color: $crema;
        border: 1px solid $azul;
      }
    }
  }

  /* ARROW */
  .arrow {
    width: 70px;
    height: 70px;
    position: fixed;
    background-color: $rojo;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    box-shadow: 3px 3px 3px rgb(31, 31, 31);
    z-index: 50;

    &-animation {
      animation-name: arrow-button;
      animation-duration: 3.5s;
    }

    @keyframes arrow-button {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &-desanimation {
      // animation-name: desanimation-arrow;
      // animation-duration: 3.5s;
      transition: opacity 5 ease;
    }

    &:before {
      content: '';
      height: 5px;
      width: 30px;
      background-color: $crema;
      position: fixed;
      bottom: 50px;
      right: 44px;
      transform: rotate(135deg);
    }

    
    &:after {
      content: '';
      height: 5px;
      width: 30px;
      background-color: $crema;
      position: fixed;
      bottom: 50px;
      right: 26px;
      transform: rotate(45deg);
    }
  }

  /* FOOTER */
  .footer {
    grid-column: 1/10;
    grid-row: 4/5;
    height: 500px;
    background-color: $azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &-title {
      margin: 50px 0 0 0;
      font-size: 50px;
      font-family: $letter;
      color: $crema;
    }

    &-data {
      display: flex;
      justify-content: space-evenly;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    &-email,
    &-ubication,
    &-phone {
      display: flex;
      align-items: center;
    }

    &-email__text,
    &-ubication__text,
    &-phone__text {
      color: $crema;
      font-family: $letter;
      font-size: 20px;
      margin: 0;
    }

    &-email__img,
    &-ubication__img,
    &-phone__img {
      height: 30px;
      width: 30px;
      fill: $crema;
      transition: fill;
      transition-duration: 0.5s;
      margin: 10px 20px;

      &:hover {
        fill: $rojo;
      }
    }
  }

  .lines-container {
    height: 100px;
    width: 100%;
    box-sizing: content-box;

    &__lines {
      height: 100px;
      background-color: $crema;

      &::before {
        content: '';
        height: 70px;
        width: 100%;
        background-color: $azul;
        position: absolute;
        margin-top: 15px;
        display: block;
      }

      &::after {
        content: '';
        height: 60px;
        width: 100%;
        background-color: $rojo;
        position: absolute;
        margin-top: 20px;
        display: block;
      }
    }
  }

  .rotate-animation {
    animation-name: social-icon;
    animation-duration: 0.2s;
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @keyframes social-icon {
      0% {
        transform: rotate(0);
      }

      10% {
        transform: rotate(40deg);
      }

      20% {
        transform: rotate(80deg);
      }

      30% {
        transform: rotate(120deg);
      }

      40% {
        transform: rotate(160deg);
      }

      50% {
        transform: rotate(180deg);
      }

      60% {
        transform: rotate(220deg);
      }

      70% {
        transform: rotate(260deg);
      }

      80% {
        transform: rotate(300deg);
      }

      90% {
        transform: rotate(340deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    &-linkedin {
      display: flex;
      margin-right: 20px;
      align-items: center;

      &__text {
        margin: 0;
      }
      
      &__link {
        font-family: $letter;
        color: $crema;
        font-size: 20px;
        text-decoration: none;
      }

      &__img {
        height: 30px;
        width: 30px;
        fill: $crema;
        transition: fill;
        transition-duration: 0.5s;
        margin: 10px 20px;

        &:hover {
          fill: $rojo;
        }
      }
    }

    &-github {
      display: flex;
      align-items: center;

      &__text {
        margin: 0;
      }

      &__link {
        font-family: $letter;
        color: $crema;
        font-size: 20px;
        text-decoration: none;
      }

      &__img {
        height: 30px;
        width: 30px;
        fill: $crema;
        transition: fill;
        transition-duration: 0.5s;
        margin: 10px 20px;

        &:hover {
          fill: $rojo;
        }
      }
    }
  }

  .error {
    border-color: $rojo;
  }

  .validate {
    border-color: $azul;
  }
}

@media screen and (min-width: 1200px) {
  .project-card {
    height: 400px;
    width: 300px;
  }

  // .card {
  //   height: 400px;
  //   width: 300px;
  //   background-color: $azul;
  //   box-shadow: 0 8px 8px $sombra;
  //   cursor: pointer;
  //   object-fit: cover;
  // }

  // .front,
  // .back {
  //   overflow: hidden;
  //   backface-visibility: hidden;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   transition: transform .6s linear;
  //   background: $azul;
  //   position: absolute;
  // }
  
  // .front img {
  //   height: 400px;
  //   display: block;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  
  // .front {
  //   transform: perspective(600px) rotateY(0deg);
  // }
  
  // .back {
  //   transform: perspective(600px) rotateY(180deg);
    
  //   &-content {
  //     color: $crema;
  //     text-align: center;
  //     width: 100%;
  //   }
  // }

  // .card:hover > .front {
  //   transform: perspective(600px) rotateY(-180deg);
  // }

  // .card:hover > .back{
  //   transform: perspective(600px) rotateY(0deg);
  // }
}
